/*/////FAMÍLIA DE CORES //////*/
.cor-vermelha {
    color: #c1272d
}

.botao-busca .lupa,
.cor-azul {
    color: #1070ae
}


.cor-azul-claro {
    color: #DEEFF1;
}

.cor-cinza {
    color: #b8cbd9;
}

.botao-padrao,
.cor-escura {
    color: #333333 !important;
}

.botao-secundario,
.fundo-vermelha {
    background-color: #c1272d
}

.botao-principal,
.fundo-azul {
    background-color: #1070ae
}

body,
.fundo-azul-claro {
    background-color: #DEEFF1;
}

.botao-padrao,
.fundo-cinza {
    background-color: #b8cbd9;
}

.fundo-escuro {
    color: #333333;
}
/*/////FAMÍLIA DE TEXTOS //////*/
h1 {
    font-size: 30px;
    font-weight: bold;
}

h2 {
    font-size: 15px;
    font-weight: 400;
}


/*/////FAMÍLIA DE BOTOES //////*/

.botao-secundario,
.botao-principal,
.botao-padrao,
.botao {
    position: relative;
    font-size: 14px;
    height: 45px;
    border: none;
    border-radius: 45px;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
}


/*///// ESTRUTURA //////*/

body.ativar-rolamento {
    overflow-y: visible;
}

body {
    margin: 0px;
    width: 100%;
    overflow: hidden;
    font-family: 'Nunito', sans-serif;
}

header, footer {
    height: 15vh;
}

header {
    padding-left: 5vh;
    padding-right: 5vh;
}

footer {
    align-items: flex-end;
}

main {
    height: 70vh;
}

body.ativar-rolamento main {
    height: auto;
    padding-top: 15vh;
    padding-bottom: 15vh;
}


body.ativar-rolamento footer,
body.ativar-rolamento header{
    position: fixed;
    z-index: 99;
    right: 0;
    left: 0;      
}

body.ativar-rolamento footer{
    bottom: 0px;
}


/*///// @TODO organizar //////*/


#v-line {
    border-right: 2px solid #1070ad;
    height: 45px;
    left: 3px;
}


input.buscador {
    width: 100%;
    border-radius: 25px;
    height: 60px;
    border: solid #1070AE 3px;
    padding-left: 39px;
    color: #1070AE;
    font-size: 20px;

}

input.buscador::-webkit-input-placeholder {
    font-style: italic;
    color: #1070AE;
}

.separador {
    height: 15vh;
}

footer {
    font-size: 16px;
    color: #3a3a3a;
}

.lista-horizontal ul {
    list-style-type: none;
}

.lista-horizontal li {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}

.lista-horizontal li:not(:last-child) {
    border-right: #1070ad solid 2px;
}


.botao-busca .lupa {
    position: relative;
    top: -48px;
    right: 15px;
    float: right;
    background: none;
    font-size: 25px;
    border: none;
}