body {
    margin: 0px;
    width: 100%;
    background-color: #DEEFF1;
    overflow: hidden;
    font-family: 'Nunito', sans-serif;
}

header, footer {
    height: 10vh;
}

header {
    padding-top: 5vh;
}

footer {
    margin-bottom: 1vh;
}

main{
    height: 80vh;
}

input.buscador {
    width: 100%;
    border-radius: 37px;
    height: 75px;
    border: solid #1070AE 3px;
    padding-left: 39px;
    color: #1070AE;
    font-size: 26px;
    
}

input.buscador::-webkit-input-placeholder {
    font-style: italic;
    color: #1070AE;
}
  
.separador{
    height: 10vh;
}